/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
    color: #fff;
   }
   li {
    list-style: none;
   }
#background {
    width: 100%;
    height: 105vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("seekerdaily-0091-will-egypts-revolutionary-garbagemen-change-the-wo-large.thumb_.jpg");
    background-size: cover;
    background-position: center;
    
}
   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu a:hover {
    color: #21c53c;
    transition: 0.3s ease;
   }
   .menu #offer {
    color: teal;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 14px;  
    }
    .menu #offer:hover {
        color: #fff;
        background-color: #21c53c;
        transition: 0.3s ease;
    }
   .menu li:hover {
    border-radius: 30px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
/*RESPONSIVE NAVBAR MENU STARTS*/
input[type=checkbox]{
    display: none;
   } 
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   #background-text {
    position: absolute;
    left: 100px;
    top: 250px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    height: 60vh;
   } 
   .button {
    color: white;
    background-color: teal;
    border-radius: 30px;
    padding: 5px 14px; 
    margin-top: 20px;
    font-size: 20px;
    position: absolute;
   }
   .button:hover {
    color: white;
    background-color: #21c53c;
    transition: 0.3s ease;
   }
  .image-text {
    margin-left: 200px;
    margin-top: 50px;  
    color: #fff;
    font-size: 20px;
    text-decoration: solid;
  }
  .info {
    width: 100%;
    height: 100vh;
    background-color: #008080;
    margin-top: 115vh;
  }
  #img1 {
    right: 27%;
    top: 275%;
    position: absolute;
  }
  #img1 img {
    border-radius: 6px;
    width: 300px;
    height: 250px;
  }
  #img2 {
    right: 15%;
    top: 250%;
    position: absolute;
  }
  #img2 img {
    border-radius: 6px;
    width: 300px;
    height: 215px;
  }
  .txt {
    position: absolute;
    left: 5%;
    width: 500px;
    top: 250%;
    color: #fff;
    background-color: #21c53c;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 10px black;
  }
  .txt p {
    margin-top: 20px;
    font-size: 18px;
  }
  .txt h1 {
    font-size: 30px;
  }
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 100vh;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 40%;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;
    outline: 0;
    bottom: 70%;
    display: none;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  .carousel__snapper {
    background-color: #FFEFD6;
  }
  .carousel__snapper img {
    position: absolute;
    left: 30%;
    height: 300px;
    margin-top: 100px;
  }
  .carousel__snapper p {
    width: 500px;
    font-size: 25px;
    color: black;
    margin-left: 45%;
    position: absolute;
    margin-top: 120px;
  }
  .body {
    height: 100vh;
    width: 100%;
    background-color: #008080;
    position: relative;
    margin-top: -390px;
  }
  .img-text {
    width: 30%;
    height: 100vh;
    color: #fff;
    margin-left: 15vh;
    padding-top: 110px;
    position: absolute;
  }
  .img-text h1 {
    font-size: 50px;
  }
  .img-text p {
    padding-top: 20px;
    font-size: 20px;
  }
  #img1, #img2 {
    height: 250px;
    width: 350px;
    top: 40%;
    position: absolute;
    right: 25%;
    border-radius: 10px;
    box-shadow: 10px 10px black;
  }
  #img2 {
    top: 15%;
    right: 5%;
  }
  .zabaleen {
    height: 100vh;
    width: 100%;
    background-color: #FFEFD6;
    position: relative;
  }
  .zabaleen h1, .zabaleen p {
    color: #2C3333;
  }
  .zabaleen .img-text {
    width: 38%;
  }
  .our-website {
    height: 100vh;
    width: 100%;
    background-color: teal;
    color: white;
  }
  .our-website h1 {
    left: 35%;
    top: 5%;
    position: relative;
    font-size: 50px;
    margin-bottom: 50px;
  }
  .columns {
    width: 100%;
    list-style-type: none;
  }
  .list {
    float: left;
    width: 20%;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
  }
  .list2 {
    margin-left: 350px;
  }
  .list3 {
    margin-left: 700px;
  }
  .list4 {
    margin-left: 1050px;
  }
  .list img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    left: 20%;
  }
  .list p {
    font-size: 20px;
  }
  #bottom {
    width: 100%;
    height: 10vh;
    background-color: #333;
  }
  #bottom a {
    color: white;
    background-color: teal;
    border-radius: 30px;
    padding: 2px 15px; 
    margin-top: 8px;
    margin-left: 30px;
    font-size: 20px;
    float: left;
    font-size: 30px;
  }
  #bottom a:hover {
    background-color: #21c53c;
    transition: 0.5s;
  }
  #bottom p {
    left: 70%;
    position: relative;
    color: #FFEFD6;
    font-size: 20px;
    top: 30%;
  }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   #background-text {
    text-align: center;
   }
   .button {
    margin-left: -60px;
    position: absolute;
   }
}