<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/staticFiles/style.css" />
   <link rel="apple-touch-icon" sizes="180x180" href="/staticFiles/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/staticFiles/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/staticFiles/favicon-16x16.png">
   <link rel="manifest" href="/staticFiles/site.webmanifest">
   <title>Redivius - Home</title>
 </head>
 <body>
  <nav class="navbar">
     <!-- LOGO -->
     <a href="/"><div class="logo">Redivius</div></a>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
        <li><a href="/"><i class="fa fa-home" style="font-size: 30px;"></i></a></li>
        <li><a href="/info"><i class="fa fa-info" style="font-size: 30px;"></i></a></li>
        <li><a href="/login"><i class="fa fa-user" style="font-size: 30px;"></i></a></li>
        <li><a href="/login" id="offer">Send</a></li>
       </div>
     </ul>
   </nav>
   <div id="background">
    <div id="background-text">
      <h1 class="header">Share in achieving more<br> greener community</h1>
      <a href="/login" class="button">Send Now</a>
    </div>
   </div>
   <section class="carousel reveal" aria-label="Gallery">
    <ol class="carousel__viewport">
      <li id="carousel__slide1"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper">
          <a href="#carousel__slide4"
             class="carousel__prev">Go to last slide</a>
          <a href="#carousel__slide2"
             class="carousel__next">Go to next slide</a>
          <img src="/staticFiles/waste-classification-slide41-removebg-preview.png" class="animate">
          <p>Organic waste is common in almost all households. This waste consists of food waste, garden waste, and so on. While this waste is broken down by micro-organisms over time, it still needs to be appropriately disposed of when generated.</p>
        </div>
      </li>
      <li id="carousel__slide2"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/staticFiles/waste-classification-slide4-removebg-preview.png" class="animate">
          <p>Plastic is incredibly useful in modern life, but its widespread use may impair human sustainability. The production and disposal of plastic generates greenhouse gases and hazardous waste. Examples of plastic wastes: usually only bottles, tubs, and jugs (for example, salad containers, berry boxes, or clamshell packages).</p>
        </div>
        <a href="#carousel__slide1"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide3"
           class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide3"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/staticFiles/waste-classification-slide4_-_Copy__3_-removebg-preview.png" class="animate">
          <p>Glass recycling is the processing of waste glass into usable products. Glass that is crushed or imploded and ready to be remelted is called cullet. The most common colours used for consumer containers are clear glass, green glass, and brown glass. Glass is ideal for recycling since none of the material is degraded by normal use.</p>
        </div>
        <a href="#carousel__slide2"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide4"
           class="carousel__next">Go to next slide</a>
      </li>
      <li id="carousel__slide4"
          tabindex="0"
          class="carousel__slide">
        <div class="carousel__snapper">
          <img src="/staticFiles/waste-classification-slide42-removebg-preview.png" class="animate">
          <p>The recycling of paper is the process by which waste paper is turned into new paper products. It saves waste paper from occupying homes of people and producing methane as it breaks down. Because paper fibre contains carbon , recycling keeps the carbon locked up for longer and out of the atmosphere.</p>
        </div>
        <a href="#carousel__slide3"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide1"
           class="carousel__next">Go to first slide</a>
      </li>
    </ol>
    <aside class="carousel__navigation">
      <ol class="carousel__navigation-list">
        <li class="carousel__navigation-item">
          <a href="#carousel__slide1"
             class="carousel__navigation-button">Go to slide 1</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide2"
             class="carousel__navigation-button">Go to slide 2</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide3"
             class="carousel__navigation-button">Go to slide 3</a>
        </li>
        <li class="carousel__navigation-item">
          <a href="#carousel__slide4"
             class="carousel__navigation-button">Go to slide 4</a>
        </li>
      </ol>
    </aside>
  </section>
  <div class="body">
    <div class="img-text">
      <h1 class="reveal">Egypt Garbage:</h1>
      <p class="reveal">Egypt is one country that produces the most garbage, producing between 50 and 60 tons of solid waste per day, amounting to 22 million tons annually. Cairo, a city of about 20 million people, produces more than 15,000 tons of solid waste each day, making garbage one of Egypt’s most dangerous challenges. Only around 60 percent of the waste produced is collected at the moment, and less than 20 percent of this is properly disposed of or recycled. </p>
    </div>
    <div class="img">
      <img src="/staticFiles/pyramids-trash.jpg" id="img1" class="reveal">
      <img src="/staticFiles/_6536_55.jpg" id="img2" class="reveal">
    </div>
  </div>
  <div class="zabaleen">
    <div class="img-text">
      <h1 class="reveal">Zabaleen City:</h1>
      <p class="reveal">the Zabbaleen population is 70,000. The largest settlement is Mokattam village, nicknamed "Garbage City," located at the foot of the Mokattam Mountains, next to Manshiyat Naser. The Zabbaleen community in Mokattam Village has a population of around 20,000 to 30,000, over 90 percent of which are poor Coptic Christians living in slums. the Zabbaleen supported themselves by collecting trash door-to-door from the residents of Cairo for nearly no charge. Notably, the Zabbaleen recycle up to 80 percent of the waste that they collect via local Egyptian companies, whereas most Western garbage collecting companies can only recycle 20 to 25 percent of the waste that they collect.</p>
    </div>
    <div class="img">
      <img src="/staticFiles/Zabaleen-moqattam-1-1024x683.jpg" id="img1" class="reveal">
      <img src="/staticFiles/zabaleen-perception-1024x576.jpg" id="img2" class="reveal">
    </div>
  </div>
  <div class="our-website">
    <h1 class="reveal">Why Our Website</h1>
    <ul class="columns">
      <li class="list">
        <img src="/staticFiles/money-bag-background-design_1270-41.webp" class="reveal">
        <p class="reveal">
          Have you ever imagined to earn money from Garbage. Garbage is really a treasure that need to be used and it deserve ervery single pound, and Redivius will pay for the Garbage.
        </p>
      </li>
    </ul>
    <ul class="columns">
      <li class="list list2">
        <img src="/staticFiles/RecyclingSymbolGreen.png" class="reveal">
        <p class="reveal"> 
          Redivius aimes to deliver the Garbage to recyclers in order to recycling it that will decrease economic crisis, reduce pollution and provide job opportunities.
        </p>
      </li>
    </ul>
    <ul class="columns">
      <li class="list list3">
        <img src="/staticFiles/green-ecology-logo-design-world-environment_569344-380.webp" class="reveal">
        <p class="reveal">
          Living in green enviroment is the main goal for Redivius. Green enviroment has many advantages as it improve the public due to decreasing the pollution.
        </p>
      </li>
    </ul>
    <ul class="columns">
      <li class="list list4">
        <img src="/staticFiles/job-opportunity-pic.webp" class="reveal">
        <p class="reveal">
          Redivius works with many personnes as it provides job opportunities to people who deliver Grabage and will increase the number of workers in Recycling factories.
        </p>
      </li>
    </ul>
  </div>
  <div id="bottom">
    <a href="/login">Send</a>
    <p id="copyright">&#169; Copyright Redivius</p>
  </div>
  <script src="/staticFiles/script.js"></script>
  </body>
</html>
