<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redivivus - Sign Up</title>
        <link rel="stylesheet" href="/staticFiles/login-style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/staticFiles/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/staticFiles/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/staticFiles/favicon-16x16.png">
        <link rel="manifest" href="/staticFiles/site.webmanifest">
    <body>
      {% if error %}
        <div><p class="error">{{ error }}
      {% endif %}
        <ul class="nav">
            <li onclick="showLogin()">Login</li>
            <li onclick="showSignup()">Sign up</li>
            <li onclick="showForgotPassword()">Forgot password</li>
            <li onclick="showSubscribe()">Volunteer</li>
            <li onclick="showContactUs()">Contact us</li>
          </ul>
          <div class="wrapper">
            <div class="rec-prism">
              <div class="face face-front">
                <div class="content">
                  <h2>Sign up</h2>
                  <form action="{{ url_for('register') }}" method="post">
                    <div class="field-wrapper">
                      <input type="text" name="email" placeholder="email" required>
                      <label>e-mail</label>
                    </div>
                    <div class="field-wrapper">
                      <input type="password" name="password" placeholder="password" autocomplete="new-password" required>
                      <label>password</label>
                    </div>
                    <div class="field-wrapper">
                      <input type="password" name="password2" placeholder="password" autocomplete="new-password" required>
                      <label>re-enter password</label>
                    </div>
                    <div class="field-wrapper">
                      <input type="submit" value="submit">
                    </div>
                    <span class="singin" onclick="showLogin()">Already a user?  Sign in</span>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <script src="/staticFiles/script-login.js"></script>
    </body>
</html>